PackersRoster/AndroidManifest.xml
PackersRoster/bin
PackersRoster/gen
PackersRoster/gen/com/example/packersroster/R.java
PackersRoster/gen/com/example/packersroster/R.java
PackersRoster/bin
PackersRoster/gen
PackersRoster/bin
PackersRoster/gen
PackersRoster/gen
PackersRoster/bin
PackersRoster/gen
PackersRoster/bin
